<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eagriculture.krish_e">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicond"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".buy.BuypayActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".buy.PaymentSuccesfulActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".buy.ProductActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".buy.EbuyRegisterspalshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buy.EbuyRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sell.AddproductssplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.EsellregisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.ElearnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buy.EbuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.EsellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>